<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

 
  <xacro:macro name="ur5e_cell" params="parent:='world' *origin ur_type name tf_prefix:='' kinematics_parameters_file joint_limits_parameters_file physical_parameters_file visual_parameters_file">
    <xacro:property name="tool0_link_name" value="${tf_prefix + '_tool0' if tf_prefix else 'tool0'}"/>

    <joint name="pedestal_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child  link="pedestal"/>
    </joint>
    <link name="pedestal"/>

   
    <xacro:ur_robot
      name="${name}"
      tf_prefix="${tf_prefix}"
      parent="pedestal"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      use_fake_hardware="true"
      fake_sensor_commands="true">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:ur_robot>

    <link name="simple_gripper">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0.03" rpy="0 0 0"/>
        <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0.06" rpy="0 0 0"/>
        <geometry><box size="0.04 0.04 0.12"/></geometry>
        <material name="gripper_gray"><color rgba="0.6 0.6 0.6 1.0"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0.06" rpy="0 0 0"/>
        <geometry><box size="0.04 0.04 0.12"/></geometry>
      </collision>
    </link>

    
    <joint name="tool0_to_simple_gripper" type="fixed">
      <parent link="${tool0_link_name}"/>
      <child  link="simple_gripper"/>
      <origin xyz="0 0 0.08" rpy="0 0 0"/>
    </joint>

    <link name="tcp_link"/>
    <joint name="simple_gripper_to_tcp" type="fixed">
      <parent link="simple_gripper"/>
      <child  link="tcp_link"/>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

</robot>
